// Variable declarations
$font-stack: Helvetica, sans-serif;
$header-background: rgba(177, 24, 157, 0.247);
$heading-color: rgb(123, 80, 255);
$header-link-color: rgba(0, 0, 0, 0.8);
$link-hover-color: rgb(12, 67, 129);


// General Rules for elements
* {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

a {
    text-decoration: none;
}

// Header Styles
header {
    ul {
        display: block;
        background: $header-background;
        padding: 15px;
        li {
            list-style-type: none;
            display: inline;
            padding-right: 10px;
            &:first-of-type {
                font-weight: bold;
                font-size: 1.2rem;
            }
            a {
                color: $header-link-color;
                &:hover {
                    color: $link-hover-color;
                }
                div {
                    display: inline;
                }
            }
        }
    }
    h1 {
        color: $heading-color;
        margin: 2rem 0 2rem 0.5rem;
    }
}

// Home Section Styles
section#homeSection {
    div#hero {
        height: 75vh;
        font-size: 1.2rem;
        background-image: url('images/keyboard.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    p {
        margin: 2vh 10vw;
    }
}

// Keyboards & Keycaps Section Styles
section#productSection {
    margin: 0 5rem;
    min-height: 100%;
    padding-bottom: 15vh;
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    p {
        line-height: 1.5rem;
        padding-bottom: 10px;
        img {
            padding-bottom: 10px;
            width: 80%;
            display: block;
        }
        a {
            background-color: rgb(17, 120, 238);
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
    }
}

//Shipping Table Styles
#shippingSection {
    padding-bottom: 20vh;
    p {
        padding: 0 0 1rem 10px;
    }
    table {
        border-collapse: collapse;
        width: 50%;
        margin-left: 5px;
        td, th {
            border: 1px solid grey;
            padding: 5px;
        }
        th {
            text-align: left;
            background: $header-background;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

// Footer Styles
footer {
    text-align: center;
    p {
        margin-bottom: 15px;
    }
}

// Media Queries
@media only screen and (max-width: 1000px) {
    section#productSection {
        padding-bottom: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        p {
            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    section#productSection {
        padding-bottom: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        p {
            img {
                width: 100%;
            }
        }
    }
}