<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${file.frontMatter.title}</title>
    <link href="ui/style.css" rel="stylesheet"/>
    <!-- <script src="ui/jquery.js" defer></script> -->
    <script src="ui/main.js" defer></script>
</head>
<body>
    <header>
        <ul>
            <li><a href="index.html">Keys &amp; Boards Galore</a></li>
            <li><a href="keyboards.html">Keyboards</a></li>
            <li><a href="keycaps.html">Keycaps</a></li>
            <li><a href="shipping.html">Shipping</a></li>
            <li>Cart <div id="total">(0)</div></li>
        </ul>
        <h1>${file.frontMatter.heading}</h1>
    </header>
    <section id="${file.frontMatter.sectionId}">
        ${contents}
    </section>
    <footer>
        <p>&copy; 2019 - Will Storey</p>
    </footer>
</body>
</html>